JGPSTrackEdit
InsertPoints
AppendPoints
MovePoints
DeletePoints
SplitTrack
DataDiagram
"DistanceAltitude "
HeartRateTime
GeneralInformation
Time
Distance
Altitude
HeartRate
GPX
Other
Actions
Open
Save
StatusBar
GoogleEarthIntegration
FlyOver
OSM
GoogleMaps
MoreMaps
MapActions
CroppedMapImages
MoveMap
