JGPSTrackEdit
"Insert Points"
"Append Points"
"Move Points"
"Delete Points"
"Split Track"
"Data Diagram"
"Distance/Altitude "
"Heart Rate/Time"
"General Information"
Time
Distance
Altitude
"Heart Rate"
GPX
Other
Actions
Open
Save
"Status Bar"
"Google Earth Integration"
FlyOver
OSM
"Google Maps"
"More Maps"
"Map Actions"
"Cropped Map Images"
"Move Map"
